// Virtual envirenment
qa_env


.vscode
.idea/inspectionProfiles/profiles_settings.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/question_answer.iml
.idea/.gitignore
sqltools_20201105030052_7704.log

__pycache__